body {
  position: relative;
  min-height: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-full {
  width: 100%;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  height: 60px;
}

header {
  background-color: navy;
}

.home-container {
  display: flex;
  flex-flow: column nowrap;
}

.chart-container {
  display: flex;
  justify-content: center;
}

.chart-buttons-container {
  display: flex;
  justify-content: center;
}

.tab-container {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 100%;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
}

.choose-views-container {
  width: 100%;
}

.footer-container {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  height: 60px;
}

footer {
  background-color: navy;
  position: fixed;
  bottom: 0;
  width: 100%;
}

@media only screen and (min-width: 805px) {
  html,
  body {
    height: 100vh;
  }
}